
@{
    ViewBag.Title = "NewUser";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<label>Name</label>
<input type="text" class="form-control" />
<br />
<label>Surname</label>
<input type="text" class="form-control" />
<br />
<label>Job</label>
<input type="text" class="form-control" />
<br />
<label>Select City</label>
<input type="text" class="form-control" />
<br />
<button class="btn btn-primary">Add User</button>

