
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<h2>User List</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Surname</th>
        <th>City</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Murat</td>
        <td>YÜCEDAĞ</td>
        <td>İstanbul</td>
        <td><a href="#" class="btn btn-danger">Delete</a></td>
        <td><a href="#" class="btn btn-success">Update</a></td>
        <td><a href="#" class="btn btn-warning">Details</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>İpek Gülşen</td>
        <td>ÇELİK</td>
        <td>İstanbul</td>
        <td><a href="#" class="btn btn-danger">Delete</a></td>
        <td><a href="#" class="btn btn-success">Update</a></td>
        <td><a href="#" class="btn btn-warning">Details</a></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Tuğçe</td>
        <td>AÇAR</td>
        <td>İstanbul</td>
        <td><a href="#" class="btn btn-danger">Delete</a></td>
        <td><a href="#" class="btn btn-success">Update</a></td>
        <td><a href="#" class="btn btn-warning">Details</a></td>
    </tr>
</table>