
@{
    Layout = null;
}

<h1>Merhaba</h1>
<h3>Selam</h3>
<h5>Hello</h5>

<br />

<div style="background-color: coral">Hello Friends</div>

<br />

<div style="background-color: crimson">Hello!...</div>

<br />

<a href="https://www.google.com.tr/">Go to Google</a>

<br />
<br />

<a href="">Go to Second Page</a>



