
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">

    <br />

    <table class="table table-bordered">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Stock Number</th>
            <th>Product Category</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Computer</td>
            <td>150</td>
            <td>Electronic</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Sweater</td>
            <td>250</td>
            <td>Clothes</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Shirt</td>
            <td>180</td>
            <td>Clothes</td>
        </tr>
    </table>

    <a href="#" class="btn btn-primary">Create New Product</a>

</div>
