
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">

    <br />

    <label>Product Name</label>
    <input type="text" class="form-control" />

    <br />

    <label>Category of Product</label>
    <input type="text" class="form-control" />

    <br />

    <label>Product Stock Number</label>
    <input type="number" class="form-control" />

    <br />

    <label>Product Description</label>
    <textarea class="form-control" rows="5"></textarea>

    <br />

    <button class="btn btn-success">Save Product</button>
</div>